<div class="panel-heading"><h4 style="margin-top:-3px;margin-bottom:-3px">{{ 'parroquies.cercar1' | trans }}</h4></div>

<div class="panel-body">
	<form action="{{ path('parroquies_cerca') }}" method="post">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			  	<h5>{{ 'parroquies.cerca.parroquia' | trans }}</h5>
			  	<div class="input-group">
					<span class="input-group-addon"><i class="icon-picture"></i></span>
					<input type="text" class="form-control search-query" name="nom" value="{{ nom }}">
				</div>
				<div class="space10"></div>
		  	</div>
		    <div class="space10"></div>
		</div><!-- /.row -->

		<div class="btn-group">
			<button type="submit" class="btn btn-primary"><i class="icon-search"></i>&nbsp;Cercar</button>
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<div class="btn-group">	
				<a data-toggle="modal" href="{{ path('parroquies_nou') }}" data-target="#nouParroquies" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Afegir nou</a>
		    </div>
		{% endif %}

	</form>
</div>