{% extends 'ArxiuBundle::base-arxiu.html.twig' %}

{% block title %}{{ 'parroquies.titol' | trans }}{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
    <script>   
    $(document).on("hidden.bs.modal", function (e) {
	    $(e.target).removeData("bs.modal").find(".modal-content").empty();
	});
	</script>
{% endblock %}

{% block body %}
	<div class="page-header">
        <h1>{{ 'parroquies.titol' | trans }}</h1>
	</div>
	
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="row" style="margin-left:0px ">
			<div class="col-md-7 col-lg-7 " style="margin-left:-5px">
			    <div class="alert alert-success alert-dismissable">
			    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			        <strong>{{ flashMessage }}</strong>
			    </div>
			</div>
		</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="row" style="margin-left:0px ">
			<div class="col-md-7 col-lg-7" style="margin-left:-5px ">
			    <div class="alert alert-danger alert-dismissable">
			    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			        <strong>{{ flashMessage }}</strong>
			    </div>
			</div>
		</div>
	{% endfor %}	
	
		<div class="row" style="margin-bottom: 5px;margin-left: 15px;margin-right: 0px">
		<div class="btn-group" style="margin-top:5px;margin-bottom:5px;">
			<a type="button" class="btn {% if seleccio is sameas("parroquies") %}btn-primary{% else %}btn-default{% endif %}" 
					style="margin-bottom:-1px;" href="{{ path('parroquies') }}" >
				 	{{ 'parroquies.cercar1' | trans }}
			</a>
		</div>
		
		<div class="btn-group" style="margin-top:5px;margin-bottom:5px;">
			<a type="button" class="btn {% if seleccio is sameas("arxius") %}btn-primary{% else %}btn-default{% endif %}" 
					style="margin-bottom:-1px;" href="{{ path('parroquies_arxius') }}" >
				 	{{ 'parroquies.cercar2' | trans }}
			</a>
		</div>
	</div>
	<div class="space10"></div>
		
	
	<div class="row" style="margin-bottom: 5px;margin-left: 0px;margin-right: 0px">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				{% include 'ArxiuBundle:Parroquies:cerca.html.twig' %}
			</div>
		</div><!--/Cerca-->
		
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			{% if info is not null and info is not empty %}
				<div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">{{ 'parroquies.resultats' | trans }}</h3>
				  </div>
				  <div class="panel-body">
				  	<div class="imprimir" id="parroquies">
				  		{% for i in info %}
							<h4>{{ i.nom }}</h4>
							<p>{{ i.descripcio }}</p>
						    <div class="row noimprimir">
						    	<div class="btn-group" style="margin-left:15px;">
					              	<a data-toggle="modal" href="{{ path('parroquies_detall', {'id': i.id }) }}" data-target="#ampliarInfo"  class="btn btn-sm btn-info" type="button"><i class="icon-info"></i></a>
					            </div>
					              	
						    	{% if is_granted('ROLE_ADMIN') %}     
					              	<div class="btn-group" style="margin-right:15px;float:right;">
					              		<a data-toggle="modal" href="{{ path('parroquies_editar', {'id': i.id }) }}" data-target="#editarParroquies" class="btn btn-sm btn-primary" type="button"><i class="icon-pencil"></i></a>
					              		<a data-toggle="modal" href="{{ path('parroquies_eliminar', { 'id': i.id }) }}" data-target="#eliminarParroquies" class="btn btn-sm btn-danger" type="button"><i class="icon-remove"></i></a>
					              	</div>
				              	{% endif %}
							</div>
					 		
							<div class="space10" style="border-bottom: 1px solid #eeeeee;"></div>
				    	{% endfor %}
					</div>
					<div class="space10"></div>
				    <div class="row" style="padding-right: 10px;">
						<button style="float: right;" class="btn btn-default" onclick="imprimir('#parroquies')" ><i class="icon-print"></i></button>
					</div>
				  </div><!-- /.panel-body -->
				</div>
			{% elseif info is not null and info is empty %}
				<div class="alert alert-warning" style="margin-top:10px">
					{{ 'documents.alerta3' | trans }}
				</div>   
			{% else %}
		    	<div class="alert alert-info" style="margin-top:10px">
					{{ 'documents.alerta' | trans }}
				</div>   
			{% endif %}
		</div><!--/taula -->
	</div>
	
	{# Modals #}
		<div class="modal" id="ampliarInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div><!-- /.modal -->
	{% if is_granted('ROLE_ADMIN') %}  
		
		<div class="modal" id="nouParroquies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div><!-- /.modal -->
		
		<div class="modal" id="editarParroquies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div><!-- /.modal -->
		
		<div class="modal" id="eliminarParroquies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div><!-- /.modal -->
	{% endif %}
{% endblock %}
	