<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | {{ 'base.title' | trans }}</title>
          
        <link href="{{ asset('bundles/ADG/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ADG/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/ADG/css/comu.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
	     <div class="navbar navbar-inverse navbar-fixed-top " role="navigation">	
			    <div class="navbar-header">
				    <a class="navbar-brand" href="{{ path('index') }}">{{ 'base.title' | trans }}</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				</div>
				<div class="navbar-collapse collapse">
				      {{ knp_menu_render('PrincipalBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'PrincipalBundle:Menu:knp_menu.html.twig'}) }}
					  {{ knp_menu_render('PrincipalBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'PrincipalBundle:Menu:knp_menu.html.twig'}) }}
				</div>
		 </div>
		{% block subnavbar %}{% endblock %}
		  <div class="content">
		    <div class="wrapper">
		      <div class="container proper-content">
		        {% block body %}{% endblock %}
		        <div class="space10"></div>
		      </div><!-- /.proper-content -->
		      <div class="push"></div>
		    </div><!-- /.wrapper -->
 			{% include '::footer.html.twig' %}
		  </div>
		
	    <script src="{{ asset('bundles/ADG/js/jquery.js') }}" type="text/javascript"></script>
	    <script src="{{ asset('bundles/ADG/js/bootstrap.min.js') }}" type="text/javascript"></script>
	    <script src="{{ asset('bundles/ADG/js/printThis.js') }}" type="text/javascript"></script>
	    <script type="text/javascript">
		    function imprimir(name)
			{
				$(name).printThis();
			}	         
	    </script>
		<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-1248411-1']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
		</script>
		
		<script type="text/javascript">
			console.log(
				"    Website done by:                                                               \n" +
				"					   _____                        _                               \n" +
				"					  / ____|                      | |                              \n" +
				"					 | |  __  ___ _ __ __ _ _ __ __| |                              \n" +
				"					 | | |_ |/ _ \\ '__/ _` | '__/ _` |                             \n" +
				"					 | |__| |  __/ | | (_| | | | (_| |                              \n" +
				"					   \_____|\\___|_|  \\__,_|_|  \\__,_|     COBAS                \n" +
				"                                                                                   \n" +
				"         Hey there! Feel free to contact me at GitHub, @gerardcobas                \n" +
				"                                                                                   \n" +
				"                                                                                   \n" +
				"-----------------------------------------------------------------------------------\n");
		</script>  
        {% block javascripts %}{% endblock %}
    </body>
</html>
