<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | Arxiu diocesà de Girona</title>
        
        <link href="{{ asset('bundles/frontend/css/bootstrap.css') }}" rel="stylesheet">
	    <link href="{{ asset('bundles/frontend/css/bootstrap-theme.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/frontend/css/font-awesome.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/frontend/css/font-awesome-ie7.css') }}" rel="stylesheet">
			
		<link href="{{ asset('bundles/adg/css/comu.css') }}" rel="stylesheet">
			
        {% block stylesheets %}{% endblock %}
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
	     <nav class="navbar navbar-default navbar-fixed-top" role="navigation">				
			    <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="#">Arxiu diocesà de Girona</a>
				</div>

			      {{ knp_menu_render('PrincipalBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'PrincipalBundle:Menu:knp_menu.html.twig'}) }}
				  {{ knp_menu_render('PrincipalBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'PrincipalBundle:Menu:knp_menu.html.twig'}) }}

			  </div>
		 </nav>
		
		<div class="container">
			<div class="row">
				{% block body %}{% endblock %}
			</div>
			<hr>
			<footer>
			  <p>Footer</p>
			</footer>
		</div>


	    <script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
	    <script src="{{ asset('bundles/frontend/js/bootstrap.js') }}" type="text/javascript"></script>	         
        {% block javascripts %}{% endblock %}


    </body>
</html>
