<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | Arxiu diocesà de Girona</title>
          
        <link href="{{ asset('bundles/adg/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/adg/css/bootstrap.min.css') }}" rel="stylesheet">

	    
		<link href="{{ asset('bundles/adg/css/comu.css') }}" rel="stylesheet">
			
        {% block stylesheets %}{% endblock %}
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
	     <div class="navbar navbar-inverse navbar-fixed-top " role="navigation">	
	
			    <div class="navbar-header">
				    <a class="navbar-brand" href="{{ path('index') }}"">Arxiu diocesà de Girona</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
					
				</div>
				<div class="navbar-collapse collapse">
		
				      {{ knp_menu_render('PrincipalBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'PrincipalBundle:Menu:knp_menu.html.twig'}) }}
					  {{ knp_menu_render('PrincipalBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'PrincipalBundle:Menu:knp_menu.html.twig'}) }}
				</div>
		 </div>

		  <div class="content">
 
		    <div class="wrapper">
		    
		      <div class="container proper-content">

		        		{% block body %}{% endblock %}

		      </div><!-- /.proper-content -->
 
		      <div class="push"></div>
 
		    </div><!-- /.wrapper -->
 	
		    <div class="footer-wrapper">
		    	<footer>
					<h4>Arxiu diocesà de Girona</h4>
					<fa href=" {{ path('contacte') }}">
						<i class="icon-envelope"></i>
						Contacte
					</fa>
					
					<fa href=" {{ path('normativa') }}">
						<i class="icon-file-text-alt"></i>
						Normativa
					</fa>
            		{% if is_granted("ROLE_ADMIN") %}
						<fa href=" {{ path('index') }}">
							<i class="icon-user"></i>
							Administrar
						</fa>
						<fa href=" {{ path('fos_user_security_logout') }}">
							<i class="icon-signout"></i>
							Sortir
						</fa>
           			{% elseif is_granted("ROLE_USER") %}
           				<fa href=" {{ path('fos_user_security_logout') }}">
							<i class="icon-signout"></i>
							Sortir
						</fa>
					{% else %}
					    <fa href=" {{ path('fos_user_security_login') }}">
							<i class="icon-signin"></i>
							Autentificació
						</fa>
					{% endif %}
				</footer><!-- /.footer -->
			</div>
		  </div>

		
	    <script src="{{ asset('bundles/adg/js/jquery.js') }}" type="text/javascript"></script>
	    <script src="{{ asset('bundles/adg/js/bootstrap.min.js') }}" type="text/javascript"></script>	         
        {% block javascripts %}{% endblock %}


    </body>
</html>
