{% extends '::base.html.twig' %}

{% block title %}{{ 'index.inici' | trans}}{% endblock %}

{% block body %}
		<div class="row">
	        <div class="col-lg-4" align="center">
	        	<div class="space100"></div>
	            <img src="{{ asset('bundles/adg/img/logo-bisbat.jpg') }}"/><br>
	            {{ 'index.propietat' | trans}}
	            <div class="space10"></div>
	            <img src="{{ asset('bundles/adg/img/logo-diputacio.gif') }}"/><br>
	            {{ 'index.colaborador' | trans}}
	        </div>
	        
	        <div class="col-lg-8">
	            <div class="page-header"><h1>{{ 'index.noticies.title' | trans}}</h1></div>
	            
	            {% for noticia in noticies %}
            		<article>
	           			<h4>{{ noticia.titol }} - {{ noticia.data|date('d-m-Y')}}</h4>
	           			<p> {{ noticia.contingut }}</p>
	           		</article>
	           		<div class="space10"></div>
	            {% else %}
	            	<article>
	           			<p>{{ 'index.noticies.no' | trans}}<p>
	           		</article>
				{% endfor %}
	     
	        </div>
	 </div>
{% endblock %}
