{% extends 'ArxiuBundle::base-arxiu.html.twig' %}

{% block title %}{{ 'guia.title' | trans }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		#llista {
			margin-left: 20px; 
			margin-bottom: -1px;
		}
		#size400 {
			max-width:400px;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="page-header">
        <h1>{{ 'guia.header' | trans }}</h1>
	</div>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="row" style="margin-left:0px ">
	<div class="col-md-7 col-lg-7 " style="margin-left:-5px">
	    <div class="alert alert-success alert-dismissable" style="margin-left:-10px ">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        <strong>{{ flashMessage }}</strong>
	    </div>
	</div>
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
<div class="row" style="margin-left:0px;margin-right:-10px">
	<div class="col-md-7 col-lg-7" style="margin-left:-5px ">
	    <div class="alert alert-danger alert-dismissable">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        <strong>{{ flashMessage }}</strong>
	    </div>
	</div>
</div>
{% endfor %}	
	
<div class="row" style="margin-left:0px ">
	<div class="col-md-7 col-lg-7 well">
		<div class="row" style="padding-left:15px;padding-right:0px;">
			<div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
				<h4>{{ 'general.continguts' | trans }}:</h4>
			</div>
			<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0px">
				<a style="float:right;margin-right: -15px;margin-top: 10px;margin-bottom: 10px;" class="btn btn-default" href="{{ path('antiga', { 'seleccio': 'repertoris_anitcs' }) }}">
					<i class="icon-list"></i>&nbsp;Veure guia antiga
				</a>
			</div>
		</div>
    	<!-- Fons --> 
    	<div class="list-group">
			{% for f in allFons %}
				{% if currentId starts with f.nivell %}
					<a href="{{ path('search', { 'id': f.nivell }) }}" id="size400" class="list-group-item {% if currentId is sameas(f.nivell) %}active{% endif %}">
						<i class="icon-folder-open"></i>
						{{ f.nivell }} {{ f.titol }}
					</a>
					
					<!-- Subfons --> 
					<div class="list-group" id="llista">
						{% for sf in subFons %}
							{% if currentId starts with sf.nivell %}
								<a href="{{ path('search',{ 'id': sf.nivell }) }}" id="size400" class="list-group-item {% if currentId is sameas(sf.nivell) %}active{% endif %}">
									<i class="icon-folder-open"></i>
									{{ sf.nivell }} {{ sf.titol }}
								</a>
								
								<!-- Grup --> 
								<div class="list-group" id="llista">
									{% for g in grups %}
										{% if currentId starts with g.nivell %}
											<a href="{{ path('search',{ 'id': g.nivell }) }}" id="size400" class="list-group-item {% if currentId is sameas(g.nivell) %}active{% endif %}">
												<i class="icon-folder-open"></i>
												{{ g.nivell }} {{ g.titol }}
											</a>
											
											<!-- Serie --> 
											<div class="list-group" id="llista">
												{% for se in series %}
													{% if currentId starts with se.nivell %}
														<a href="{{ path('search',{ 'id': se.nivell }) }}" id="size400" class="list-group-item {% if currentId is sameas(se.nivell) %}active{% endif %}">
															<i class="icon-folder-open"></i>
															{{ se.nivell }} {{ se.titol }}
														</a>
														
														<!-- Ucomposta --> 
														<div class="list-group" id="llista">
															{% for uc in ucomps %}
																{% if currentId starts with uc.nivell %}
																	<a href="{{ path('search',{ 'id': uc.nivell }) }}" id="size400" class="list-group-item {% if currentId is sameas(uc.nivell) %}active{% endif %}">
																		<i class="icon-folder-open"></i>
																		{{ uc.nivell }} {{ uc.titol }}
																	</a>
																	
																	<!-- Usimple --> 
																	<div class="list-group" id="llista">
																		{% for us in usims %}
																			{% if currentId starts with us.nivell %}
																				<a href="{{ path('search',{ 'id': us.nivell }) }}" id="size400" class="list-group-item {% if currentId is sameas(us.nivell) %}active{% endif %}">
																					<i class="icon-folder-open"></i>
																					{{ us.nivell }} {{ us.titol }}
																				</a>
																				
																				<!-- Uinstalacio --> 
																				<div class="list-group" id="llista">
																					{% for ui in uinsts %}
																						<a href="{{ path('search',{ 'id': ui.nivell }) }}" id="size400" class="list-group-item {% if currentId is sameas(ui.nivell) %}active{% endif %}">
																							<i class="icon-file-text"></i>
																							{{ ui.nivell }} {{ ui.titol }}
																						</a>
																					{% else %}
																						<p style="margin: 10px;">{{ 'guia.fi' | trans }}</p>
																					{% endfor %}
																				</div><!-- /.Uinstalacio --> 
																				
																			{% else %}
																				<a href="{{ path('search', { 'id': us.nivell }) }}" id="size400" class="list-group-item ">
																					<i class="icon-folder-close"></i>
																					{{ us.nivell }} {{ us.titol }}
																				</a>
																			{% endif %}
																		{% else %}
																			<p style="margin: 10px;">{{ 'guia.fi' | trans }}</p>
																		{% endfor %}
																	</div><!-- /.Usimple --> 
																	
																{% else %}
																	<a href="{{ path('search', { 'id': uc.nivell }) }}" id="size400" class="list-group-item ">
																		<i class="icon-folder-close"></i>
																		{{ uc.nivell }} {{ uc.titol }}
																	</a>
																{% endif %}
															{% else %}
																<p style="margin: 10px;">{{ 'guia.fi' | trans }}</p>
															{% endfor %}
														</div><!-- /.Ucomposta --> 
														
													{% else %}
														<a href="{{ path('search', { 'id': se.nivell }) }}" id="size400" class="list-group-item ">
															<i class="icon-folder-close"></i>
															{{ se.nivell }} {{ se.titol }}
														</a>
													{% endif %}
												{% else %}
													<p style="margin: 10px;">{{ 'guia.fi' | trans }}</p>
												{% endfor %}
											</div><!-- /.Serie --> 
											
										{% else %}
											<a href="{{ path('search', { 'id': g.nivell }) }}" id="size400" class="list-group-item ">
												<i class="icon-folder-close"></i>
												{{ g.nivell }} {{ g.titol }}
											</a>
										{% endif %}
									{% else %}
										<p style="margin: 10px;">{{ 'guia.fi' | trans }}</p>
									{% endfor %}
								</div><!-- /.Grup --> 
								
							{% else %}
								<a href="{{ path('search', { 'id': sf.nivell }) }}" id="size400" class="list-group-item">
									<i class="icon-folder-close"></i>
									{{ sf.nivell }} {{ sf.titol }}
								</a>
							{% endif %}
						{% else %}
							<p style="margin: 10px;">{{ 'guia.fi' | trans }}</p>
						{% endfor %}
					</div><!-- /.subFons --> 
					
				{% else %}
					<a href="{{ path('search', { 'id': f.nivell }) }}" id="size400" class="list-group-item">
						<i class="icon-folder-close"></i>
						{{ f.nivell }} {{ f.titol }}
					</a>
				{% endif %}
			{% else %}
				<p style="margin: 10px;">{{ 'guia.fi' | trans }}</p>
			{% endfor %}
		</div><!-- /.Fons --> 
	</div>

{% if info is not null  %}
	{% include 'ArxiuBundle:Guia:info.html.twig' %}
{% endif %}	
</div>
	
	

{% endblock %}