{% extends 'ArxiuBundle::base-arxiu.html.twig' %}

{% block title %}Classificació{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
{% endblock %}



{% block body %}

	<div class="page-header">
        <h1>Classificació de l'arxiu</h1>
	</div>


{% for flashMessage in app.session.flashbag.get('success') %}
<div class="row" style="margin-left:0px ">
	<div class="col-xs-9 col-sm-4 col-lg-4 col-lg-offset-2">
	    <div class="alert alert-success alert-dismissable">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        <strong>{{ flashMessage }}</strong>
	    </div>
	</div>
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
<div class="row" style="margin-left:0px ">
	<div class="col-xs-9 col-sm-4 col-lg-4 col-lg-offset-2">
	    <div class="alert alert-danger alert-dismissable">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        <strong>{{ flashMessage }}</strong>
	    </div>
	</div>
</div>
{% endfor %}	
	
<div class="row" style="margin-left:0px ">
	<div class="col-md-7 col-lg-7 well">
    	<h4>Continguts:</h4>
    	
    	<!-- Fons --> 
    	<div class="list-group">
			{% for f in allFons %}
				{% if currentId starts with f.nivell %}
					<a href="{{ path('search', { 'id': f.nivell }) }}" class="list-group-item {% if currentId is sameas(f.nivell) %}active{% endif %}">
						<i class="icon-folder-open"></i>
						{{ f.nivell }} {{ f.titol }}
					</a>
					
					<!-- Subfons --> 
					<div class="list-group" style="margin-left: 15px; margin-bottom: 0px;">
						{% for sf in subFons %}
							{% if currentId starts with sf.nivell %}
								<a href="{{ path('search',{ 'id': sf.nivell }) }}" class="list-group-item {% if currentId is sameas(sf.nivell) %}active{% endif %}">
									<i class="icon-folder-open"></i>
									{{ sf.nivell }} {{ sf.titol }}
								</a>
								
								<!-- Grup --> 
								<div class="list-group" style="margin-left: 15px; margin-bottom: 0px;">
									{% for g in grups %}
										{% if currentId starts with g.nivell %}
											<a href="{{ path('search',{ 'id': g.nivell }) }}" class="list-group-item {% if currentId is sameas(g.nivell) %}active{% endif %}">
												<i class="icon-folder-open"></i>
												{{ g.nivell }} {{ g.titol }}
											</a>
											
											<!-- Serie --> 
											<div class="list-group" style="margin-left: 15px; margin-bottom: 0px;">
												{% for se in series %}
													{% if currentId starts with se.nivell %}
														<a href="{{ path('search',{ 'id': se.nivell }) }}" class="list-group-item {% if currentId is sameas(se.nivell) %}active{% endif %}">
															<i class="icon-folder-open"></i>
															{{ se.nivell }} {{ se.titol }}
														</a>
														
														<!-- Ucomposta --> 
														<div class="list-group" style="margin-left: 15px; margin-bottom: 0px;">
															{% for uc in ucomps %}
																{% if currentId starts with uc.nivell %}
																	<a href="{{ path('search',{ 'id': uc.nivell }) }}" class="list-group-item {% if currentId is sameas(uc.nivell) %}active{% endif %}">
																		<i class="icon-folder-open"></i>
																		{{ uc.nivell }} {{ uc.titol }}
																	</a>
																	
																	<!-- Usimple --> 
																	<div class="list-group" style="margin-left: 15px; margin-bottom: 0px;">
																		{% for us in usims %}
																			{% if currentId starts with us.nivell %}
																				<a href="{{ path('search',{ 'id': us.nivell }) }}" class="list-group-item {% if currentId is sameas(us.nivell) %}active{% endif %}">
																					<i class="icon-folder-open"></i>
																					{{ us.nivell }} {{ us.titol }}
																				</a>
																				
																				<!-- Uinstalacio --> 
																				<div class="list-group" style="margin-left: 15px; margin-bottom: 0px;">
																					{% for ui in uinsts %}
																						<a href="{{ path('search',{ 'id': ui.nivell }) }}" class="list-group-item {% if currentId is sameas(ui.nivell) %}active{% endif %}">
																							<i class="icon-file-text"></i>
																							{{ ui.nivell }} {{ ui.titol }}
																						</a>
																					{% else %}
																						<p style="margin: 10px;">No hi ha més contingut</p>
																					{% endfor %}
																				</div><!-- /.Uinstalacio --> 
																				
																			{% else %}
																				<a href="{{ path('search', { 'id': us.nivell }) }}" class="list-group-item ">
																					<i class="icon-folder-close"></i>
																					{{ us.nivell }} {{ us.titol }}
																				</a>
																			{% endif %}
																		{% else %}
																			<p style="margin: 10px;">No hi ha més contingut</p>
																		{% endfor %}
																	</div><!-- /.Usimple --> 
																	
																{% else %}
																	<a href="{{ path('search', { 'id': uc.nivell }) }}" class="list-group-item ">
																		<i class="icon-folder-close"></i>
																		{{ uc.nivell }} {{ uc.titol }}
																	</a>
																{% endif %}
															{% else %}
																<p style="margin: 10px;">No hi ha més contingut</p>
															{% endfor %}
														</div><!-- /.Ucomposta --> 
														
													{% else %}
														<a href="{{ path('search', { 'id': se.nivell }) }}" class="list-group-item ">
															<i class="icon-folder-close"></i>
															{{ se.nivell }} {{ se.titol }}
														</a>
													{% endif %}
												{% else %}
													<p style="margin: 10px;">No hi ha més contingut</p>
												{% endfor %}
											</div><!-- /.Serie --> 
											
										{% else %}
											<a href="{{ path('search', { 'id': g.nivell }) }}" class="list-group-item ">
												<i class="icon-folder-close"></i>
												{{ g.nivell }} {{ g.titol }}
											</a>
										{% endif %}
									{% else %}
										<p style="margin: 10px;">No hi ha més contingut</p>
									{% endfor %}
								</div><!-- /.Grup --> 
								
							{% else %}
								<a href="{{ path('search', { 'id': sf.nivell }) }}" class="list-group-item">
									<i class="icon-folder-close"></i>
									{{ sf.nivell }} {{ sf.titol }}
								</a>
							{% endif %}
						{% else %}
							<p style="margin: 10px;">No hi ha més contingut</p>
						{% endfor %}
					</div><!-- /.subFons --> 
					
				{% else %}
					<a href="{{ path('search', { 'id': f.nivell }) }}" class="list-group-item">
						<i class="icon-folder-close"></i>
						{{ f.nivell }} {{ f.titol }}
					</a>
				{% endif %}
			{% else %}
				<p style="margin: 10px;">No hi ha més contingut</p>
			{% endfor %}
		</div><!-- /.Fons --> 
	</div>

{% if info is not null  %}
	{% include 'ArxiuBundle:Guia:info.html.twig' %}
{% endif %}	
</div>
	
	

{% endblock %}