	<div class="col-md-5 col-lg-5">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{ 'guia.info' | trans }} {{ info.nivell }}</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="imprimir" id="imprimir-info">
		  	{% if info.titol is not null and info.titol is not empty %}<h5 style="color: #3a87ad">{{ 'guia.titol' | trans }}</h5><p>{{ info.titol }}</p>{% endif %}
			{% if info.codi is not null and info.codi is not empty %}<h5 style="color: #3a87ad">{{ 'guia.codi' | trans }}</h5><p>{{ info.codi }}</p>{% endif %}
		    {% if info.data is not null and info.data is not empty %}<h5 style="color: #3a87ad">{{ 'guia.data' | trans }}</h5><p>{{ info.data }}</p>{% endif %}
		    {% if info.volum is not null and info.volum is not empty %}<h5 style="color: #3a87ad">{{ 'guia.volum' | trans }}</h5><p>{{ info.volum }}</p>{% endif %}
		    
		    {% if info.nomProductor is not null and info.nomProductor is not empty %}<h5 style="color: #3a87ad">{{ 'guia.nomProductor' | trans }}</h5><p>{{ info.nomProductor }}</p>{% endif %}
		    {% if info.historiaProductor is not null and info.historiaProductor is not empty %}<h5 style="color: #3a87ad">{{ 'guia.historiaProductor' | trans }}</h5><p>{{ info.historiaProductor }}</p>{% endif %}
		    {% if info.historiaArxivistica is not null and info.historiaArxivistica is not empty %}<h5 style="color: #3a87ad">{{ 'guia.historiaArxivistica' | trans }}</h5><p>{{ info.historiaArxivistica }}</p>{% endif %}
		    {% if info.dadesIngres is not null and info.dadesIngres is not empty %}<h5 style="color: #3a87ad">{{ 'guia.dadesIngres' | trans }}</h5><p>{{ info.dadesIngres }}</p>{% endif %}
		    
		    {% if info.abast is not null and info.abast is not empty %}<h5 style="color: #3a87ad">{{ 'guia.abast' | trans }}</h5><p>{{ info.abast }}</p>{% endif %}
		    {% if info.organitzacio is not null and info.organitzacio is not empty %}<h5 style="color: #3a87ad">{{ 'guia.organitzacio' | trans }}</h5><p>{{ info.organitzacio }}</p>{% endif %}
		    {% if info.informacioUtilitzacio is not null and info.informacioUtilitzacio is not empty %}<h5 style="color: #3a87ad">{{ 'guia.informacioUtilitzacio' | trans }}</h5><p>{{ info.informacioUtilitzacio }}</p>{% endif %}
		    {% if info.increments is not null and info.increments is not empty %}<h5 style="color: #3a87ad">{{ 'guia.increments' | trans }}</h5><p>{{ info.increments }}</p>{% endif %}
		    
		    {% if info.condicionsAcces is not null and info.condicionsAcces is not empty %}<h5 style="color: #3a87ad">{{ 'guia.condicionsAcces' | trans }}</h5><p>{{ info.condicionsAcces }}</p>{% endif %}
		    {% if info.condicionsReproduccio is not null and info.condicionsReproduccio is not empty %}<h5 style="color: #3a87ad">{{ 'guia.condicionsReproduccio' | trans }}</h5><p>{{ info.condicionsReproduccio }}</p>{% endif %}
		    {% if info.llengues is not null and info.llengues is not empty %}<h5 style="color: #3a87ad">{{ 'guia.llengues' | trans }}</h5><p>{{ info.llengues }}</p>{% endif %}
		    {% if info.caracteristiques is not null and info.caracteristiques is not empty %}<h5 style="color: #3a87ad">{{ 'guia.caracteristiques' | trans }}</h5><p>{{ info.caracteristiques }}</p>{% endif %}
		    {% if info.instruments is not null and info.instruments is not empty %}<h5 style="color: #3a87ad">{{ 'guia.instruments' | trans }}</h5><p>{{ info.instruments }}</p>{% endif %}
		    
		    {% if info.existenciaOriginals is not null and info.existenciaOriginals is not empty %}<h5 style="color: #3a87ad">{{ 'guia.existenciaOriginals' | trans }}</h5><p>{{ info.existenciaOriginals }}</p>{% endif %}
		    {% if info.existenciaReproduccions is not null and info.existenciaOriginals is not empty  %}<h5 style="color: #3a87ad">{{ 'guia.existenciaReproduccions' | trans }}</h5><p>{{ info.existenciaReproduccions }}</p>{% endif %}
		    {% if info.documentacio is not null and info.documentacio is not empty %}<h5 style="color: #3a87ad">{{ 'guia.documentacio' | trans }}</h5><p>{{ info.documentacio }}</p>{% endif %}
		    {% if info.bibliografia is not null and info.bibliografia is not empty %}<h5 style="color: #3a87ad">{{ 'guia.bibliografia' | trans }}</h5><p>{{ info.bibliografia }}</p>{% endif %}
		    
		    {% if info.notes is not null and info.notes is not empty %}<h5 style="color: #3a87ad">{{ 'guia.notes' | trans }}</h5><p>{{ info.notes }}</p>{% endif %}
		    
		    {% if info.autoria is not null and info.autoria is not empty %}<h5 style="color: #3a87ad">{{ 'guia.autoria' | trans }}</h5><p>{{ info.autoria }}</p>{% endif %}
		    {% if info.fonts is not null and info.fonts is not empty %}<h5 style="color: #3a87ad">{{ 'guia.fonts' | trans }}</h5><p>{{ info.fonts }}</p>{% endif %}
		    {% if info.regles is not null and info.regles is not empty %}<h5 style="color: #3a87ad">{{ 'guia.regles' | trans }}</h5><p>{{ info.regles }}</p>{% endif %}
		    </div>
		    <div class="row" style="padding-right: 10px;">
				<button style="float: right;" class="btn btn-default" onclick="imprimir('#imprimir-info')" ><i class="icon-print"></i></button>
			</div>
		  </div><!-- /.panel-body -->
		  
		  
		  {% if is_granted('ROLE_ADMIN') %}         
			  <div class="panel-footer">
			  
				  <h4>Administració:</h4>
				  <div class="btn-group" style="margin-top:5px;margin-bottom:5px;">	
				  	<a data-toggle="modal" href="{{ path('guia_nou', { 'id': info.nivell }) }}" data-target="#nouGuia" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Afegir copia</a>
	              </div>
	              <!-- No mostrar si es l'ultim nivell -->
	              {% if info.nivell |split('.')|length < 8 %}
		              <div class="btn-group" style="margin-top:5px;margin-bottom:5px;">
		              	<a data-toggle="modal" href="{{ path('guia_subnivell', { 'id': info.nivell }) }}" data-target="#subnivellGuia" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Afegir subnivell</a>
					  </div>
				  {% endif %}
	              <div class="btn-group" style="margin-top:5px;margin-bottom:5px;">
	              	<a data-toggle="modal" href="{{ path('guia_editar', { 'id': info.nivell }) }}" data-target="#editarGuia" class="btn btn-primary" type="button"><i class="icon-pencil"></i>&nbsp;Editar selecció</a>
	              </div>
	              <div class="btn-group" style="margin-top:5px;margin-bottom:5px;">
	              	<a data-toggle="modal" href="{{ path('guia_tots', { 'id': info.nivell }) }}" data-target="#totsGuia" class="btn btn-primary" type="button"><i class="icon-pencil"></i>&nbsp;Editar tots</a>
	              </div>
	              <div class="btn-group" style="margin-top:5px;margin-bottom:5px;">
	              	<a data-toggle="modal" href="{{ path('guia_eliminar', { 'id': info.nivell }) }}" data-target="#eliminarGuia" class="btn btn-danger" type="button"><i class="icon-remove"></i>&nbsp;Eliminar</a>
				  </div>
			  </div> 
		 {% endif %}
		  
		</div>
	</div>

{% if is_granted('ROLE_ADMIN') %}      
	<div class="modal" id="nouGuia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	</div><!-- /.modal -->
	
	<div class="modal" id="subnivellGuia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	</div><!-- /.modal -->
	
	<div class="modal" id="editarGuia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	</div><!-- /.modal -->
	
	<div class="modal" id="totsGuia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	</div><!-- /.modal -->
	
	<div class="modal" id="eliminarGuia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	</div><!-- /.modal -->
{% endif %}
