 <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-danger">Eliminar l'usuari "{{ usuari.username }}"</h4>
        </div>
		<form action="{{ path("usuaris_eliminar_confirmar") }}" method="post">
	      	<div class="modal-body"> 	
		      	<strong class="text-danger">S'eliminarà l'usuari amb la següent informació:</strong>
		      	<input type="hidden" name="usuari" value="{{ usuari.username }}">
		      	<div class="space10"></div>
		      	
		      	<p><strong>Usuari:</strong> {{ usuari.username }}</p>
		      	<p><strong>Email:</strong> {{ usuari.email }}</p>
		        
	        </div>
	        <div class="modal-footer">
	          <button class="btn btn-default" data-dismiss="modal">Tancar</button>
	          <button class="btn btn-danger" type="submit"><i class="icon-remove"></i>&nbsp;Eliminar</button>
	        </div>
		</form><!-- /.form -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 