<div class="panel-heading"><h4 style="margin-top:-3px;margin-bottom:-3px">Cerca {{ seleccio }}</h4></div>
<div class="panel-body">
<form action="{{ path('fons_cercar', { 'seleccio': seleccio }) }}" method="post">
	<!--/si es dels que te mes elements, llavors afegirlos-->
	<!--/funcio sera mostrar -->
	
	{% if tipus is sameas("arxius") %}
		<div class="row">
		  <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
			<h5 style="margin-top: -5px">{{ 'fons.cerca.data' | trans }}</h5>
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-calendar"></i></span>
				<input type="text" class="form-control search-query" name="cercaData" value="{{ cercaData }}">
			</div>
			<div class="space10"></div>
			<h5 style="margin-top: -5px">{{ 'fons.cerca.clau' | trans }}</h5>
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-flag"></i></span>
				<input type="text" class="form-control search-query" name="cercaParaula" value="{{ cercaParaula }}">
			</div>  
		  </div><!-- /.col -->
		</div><!-- /.row -->
		
	{% elseif tipus is sameas("capellans") or tipus is sameas("monges") or tipus is sameas("seminaristes") %}
		<div class="row">
		  <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
		  	
		  	<h5 style="margin-top: -5px">{{ 'fons.cerca.nom' | trans }}</h5>
		  	<div class="input-group">
				<span class="input-group-addon"><i class="icon-male"></i></span>
				<input type="text" class="form-control search-query" name="cercaNom" value="{{ cercaNom }}">
			</div>
			{% if tipus is sameas("capellans") %}
				<div class="space10"></div>
				<h5 style="margin-top: -5px">{{ 'fons.cerca.lloc' | trans }}</h5>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon-picture"></i></span>
					<input type="text" class="form-control search-query" name="cercaLloc" value="{{ cercaLloc }}">
				</div>
				<div class="space10"></div>
				<h5 style="margin-top: -5px">{{ 'fons.cerca.dataOrd' | trans }}</h5>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon-calendar"></i></span>
					<input type="text" class="form-control search-query" name="cercaData" value="{{ cercaData }}">
				</div>
				
			{% elseif tipus is sameas("monges") %}
				<div class="space10"></div>
				<h5 style="margin-top: -5px">{{ 'fons.cerca.lloc' | trans }}</h5>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon-picture"></i></span>
					<input type="text" class="form-control search-query" name="cercaLloc" value="{{ cercaLloc }}">
				</div>
				<div class="space10"></div>
				<h5 style="margin-top: -5px">{{ 'fons.cerca.congregacio' | trans }}</h5>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon-bookmark"></i></span>
					<input type="text" class="form-control search-query" name="cercaCongregacio" value="{{ cercaCongregacio }}">
				</div>
			{% else %}
				<div class="space10"></div>
				<h5 style="margin-top: -5px">{{ 'fons.cerca.data' | trans }}</h5>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon-calendar"></i></span>
					<input type="text" class="form-control search-query" name="cercaData" value="{{ cercaData }}">
				</div>
			{% endif %}
			
			<div class="space10"></div>
			<div class="input-group">
		  		<span style="margin-right: 10px;font-weight:500;font-size:14px;">{{ 'fons.cerca.tipus' | trans }}:</span>	
		    	<span class="radio-inline">
		        	<input type="radio" name="cercaTipus" id="cercaTipus1" value="relaxada" checked>{{ 'fons.cerca.relaxada' | trans }}
		      	</span>
		    	<span class="radio-inline">
		        	<input type="radio" name="cercaTipus" id="cercaTipus2" value="estricta">{{ 'fons.cerca.estricte' | trans }}
		      	</span>
		    </div><!-- /radio-group -->
		        
		  </div><!-- /.col -->
		</div><!-- /.row -->
		
	{% else %}
		<div class="row">
		  <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
			<h5 style="margin-top: -5px">{{ 'fons.cerca.clau' | trans }}</h5>
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-flag"></i></span>
				<input type="text" class="form-control search-query" name="cercaParaula" value="{{ cercaParaula }}">
			</div>  
		  </div><!-- /.col -->
		</div><!-- /.row -->
	{% endif %}
	
	<div class="space10"></div>
	<div class="btn-group">
		<button type="submit" class="btn btn-primary"><i class="icon-search"></i>&nbsp;{{ 'fons.cerca.buscar' | trans }}</button>
	</div>
	{% if is_granted('ROLE_ADMIN') %}         
		<div class="btn-group">	
			<a data-toggle="modal" href="{{ path('fons_nou', { 'seleccio': seleccio }) }}" data-target="#nouFons" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Afegir nou</a>
	    </div>
	{% endif %}
</div>
</form>