    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Afegir nou</h4>
        </div>
      <form action="{{ path("parroquies_editar_confirmar") }}" method="post">
	      	<div class="modal-body"> 
	      		<p>Es pot modificar següent informació:</p>
	      		<div class="space10"></div>
	      		<input type="hidden" name="id" value="{{ info.id }}">
	      		<div class="input-group">
						<span class="input-group-addon">Nom</span>
						<input type="text" class="form-control" value="{{ info.nom }}" name="inputNom" >
				</div><div class="space10"></div>
	      		<div class="input-group">
						<span class="input-group-addon">Número</span>
						<input type="text" class="form-control" value="{{ info.num }}" name="inputNum" >
				</div><div class="space10"></div>
	      		<div class="input-group">
						<span class="input-group-addon">Descripció</span>
						<input type="text" class="form-control"  value="{{ info.descripcio }}" name="inputDescripcio" >
				</div><div class="space10"></div>
				
				<div class="input-group">
						<span class="input-group-addon">Bibliografia</span>
						<input type="text" class="form-control"  value="{{ info.bibliografia }}" name="inputBibliografia" >
				</div><div class="space10"></div>	
	        </div>
	        
	        <div class="modal-footer">
	          <button class="btn btn-default" data-dismiss="modal">Tancar</button>
	          <button class="btn btn-success" type="submit"><i class="icon-pencil"></i>&nbsp;Editar</button>
	        </div>
		</form><!-- /.form -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->