<div class="panel-heading"><h4 style="margin-top:-3px;margin-bottom:-3px">Cerca</h4></div>

<div class="panel-body">
	<div id='content' class="tab-content">
		<div class="tab-pane active" id="dispenses">
			<form action="{{ path('dispenses') }}" method="post">
				<div class="row">
					 <!--tipus-->
					<div class="col-lg-12 ">
						<div class="input-group">
					  		<span style="margin-right: 10px;font-weight:500;font-size:14px;">{{ 'fons.cerca.tipus' | trans }}:</span>	
					    	<span class="radio-inline">
					        	<input type="radio" name="cercaTipus" id="cercaTipus1" value="relaxada" checked>{{ 'fons.cerca.relaxada' | trans }}
					      	</span>
					    	<span class="radio-inline">
					        	<input type="radio" name="cercaTipus" id="cercaTipus2" value="estricta">{{ 'fons.cerca.estricte' | trans }}
					      	</span>
					    </div><!-- /radio-group -->
				    
				    	<div class="space10" style="border-bottom: 1px solid #eeeeee;"></div>
				    </div> <!--/tipus-->
				    
				    <div class="space10"></div>
				    
				    <!--marit-->
					<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
						<h4 style="margin-bottom:15px">Marit</h4>
					  	<h5 style="margin-top: -5px">{{ 'fons.cerca.nom' | trans }}</h5>
					  	<div class="input-group">
							<span class="input-group-addon"><i class="icon-male"></i></span>
							<input type="text" class="form-control search-query" name="cercaNom" value="">
						</div>
						<div class="space10"></div>
						<h5 style="margin-top: -5px">{{ 'fons.cerca.lloc' | trans }}</h5>
						<div class="input-group">
							<span class="input-group-addon"><i class="icon-picture"></i></span>
							<input type="text" class="form-control search-query" name="cercaLloc" value="">
						</div>
						<div class="space10"></div>
						<h5 style="margin-top: -5px">{{ 'fons.cerca.dataOrd' | trans }}</h5>
						<div class="input-group">
							<span class="input-group-addon"><i class="icon-calendar"></i></span>
							<input type="text" class="form-control search-query" name="cercaData" value="">
						</div>
						<div class="space10"></div>
				  	</div> <!--/marit-->
				  	
				  
				  	
				  	<!--muller-->
					<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-10 col-xs-10">
						<h4 style="margin-bottom:15px">Muller</h4>
						<h5 style="margin-top: -5px">{{ 'fons.cerca.nom' | trans }}</h5>
					  	<div class="input-group">
							<span class="input-group-addon"><i class="icon-male"></i></span>
							<input type="text" class="form-control search-query" name="cercaNom" value="">
						</div>
						<div class="space10"></div>
						<h5 style="margin-top: -5px">{{ 'fons.cerca.lloc' | trans }}</h5>
						<div class="input-group">
							<span class="input-group-addon"><i class="icon-picture"></i></span>
							<input type="text" class="form-control search-query" name="cercaLloc" value="">
						</div>
						<div class="space10"></div>
				  	</div><!--/muller-->
				  	
				  	
				</div><!-- /.row -->
			
				<div class="space10"></div>
				<div class="btn-group">
					<button type="submit" class="btn btn-primary"><i class="icon-search"></i>&nbsp;{{ 'fons.cerca.buscar' | trans }}</button>
					{% if is_granted('ROLE_ADMIN') %}         
						<div class="btn-group">	
							<a data-toggle="modal" href="{{ path('dispenses') }}" data-target="#nouDispenses" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Afegir nou</a>
					    </div>
					{% endif %}
				</div>
			</form>
		</div><!--/dispenses-->
	
		<!--cognoms semblants-->
		<div class="tab-pane" id="cognoms">
      	</div><!--/cognoms semblants-->
      	
      	
	</div>
</div>