<div>

        <a class="btn btn-default" href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
            {{ "{{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}
        </a>

{% if ('edit' in actions) and (not hide_edit) %}

        <button class="btn btn-primary" href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}">
            {{ "{{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}
        </button>

{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}

        <form role="form" action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" method="post">
            {{ '{{ form_widget(delete_form) }}' }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ "{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}');">{{ "{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</button>
        </form>
{% endif %}
</div>