{% extends 'PrincipalBundle:AdminGuia:baseModal.html.twig' %}

{% block arxiuTitle %}
	Editar <strong>{{ info.nivell }}</strong>
{% endblock %}


{% block arxiuInfo %}
	<p>Modificar l'informació actual.</p>
{% endblock %}

{% block arxiuFormPath %}
	{{ path("guia_editar_confirmar") }}
{% endblock %}

{% block arxiuNivell %}
	<input type="hidden" name="original" value="{{ info.nivell }}">
      	{% set len =  info.nivell | length %}
      	<input type="hidden" name="nivell" value="{{ info.nivell | slice(0, len-2) }}">
      	<div class="input-group">
			<span class="input-group-addon">Nivell *  <strong>{{ info.nivell | slice(0, len-2) }}</strong></span>
			<input type="text" class="form-control" pattern="^([a-zA-Z0-9]*\.)$" 
				title="Només pot tenir números i/o lletres i finalitzar amb un punt." 
				value="{{ info.nivell | slice(len-2, len) }}" name="suffix" required>
		</div><div class="space10"></div>
{% endblock %}

{% block arxiuButton %}
    <button class="btn btn-success" type="submit"><i class="icon-pencil"></i>&nbsp;Editar</button>
{% endblock %}	