{% extends 'PrincipalBundle:AdminGuia:baseModal.html.twig' %}

{% block arxiuTitle %}
	Editar <strong>{{ info.nivell }}</strong>
{% endblock %}


{% block arxiuInfo %}
	<p>Modificar l'informació actual.</p>
{% endblock %}

{% block arxiuFormPath %}
	{{ path("guia_editar_confirmar") }}
{% endblock %}

{% block arxiuNivell %}
		<input type="hidden" name="original" value="{{ info.nivell }}">
	
		{% set divisio = info.nivell |split('.') %}
		{% set pre = "" %}
		{% set post = "" %}
		
		{% for di in divisio %}
			{% if loop.index == loop.length-1  %}
				{% set post = di %}
			{% else %}
				{% if pre == "" %}
					{% set pre = di %}
				{% else %}
					{% set pre = pre~'.'~di %} 
				{% endif %}  
			{% endif %}
    	{% endfor %}
    	
      	<input type="hidden" name="nivell" value="{{ pre }}">
      	<div class="input-group">
			<span class="input-group-addon">Nivell *  <strong>{{ pre }}</strong></span>
			<input type="text" class="form-control" pattern="^([a-zA-Z0-9]*\.)$" 
				title="Només pot tenir números i/o lletres i finalitzar amb un punt." 
				value="{{ post~'.' }}" name="suffix" required>
		</div><div class="space10"></div>
{% endblock %}

{% block arxiuButton %}
    <button class="btn btn-success" type="submit"><i class="icon-pencil"></i>&nbsp;Editar</button>
{% endblock %}	