{% extends 'PrincipalBundle:AdminGuia:baseModal.html.twig' %}

{% block arxiuTitle %}
          	{% if tam is sameas(2) %} Afegir nou fons
          	{% elseif tam is sameas(3) %} Afegir nou subfons
          	{% elseif tam is sameas(4) %} Afegir nou grup de series
          	{% elseif tam is sameas(5) %} Afegir nova serie
          	{% elseif tam is sameas(6) %} Afegir nova unitat documental composta
          	{% elseif tam is sameas(7) %} Afegir nova unitat documental simple
          	{% elseif tam is sameas(8) %} Afegir nova unitat d'instalació
          	{% endif %}
{% endblock %}


{% block arxiuInfo %}
	<p>Informació actual del nivell <strong>{{ info.nivell }}</strong> modificar per afegir un de nou.</p>
		    	
{% endblock %}

{% block arxiuFormPath %}
	{{ path("guia_nou_confirmar") }}
{% endblock %}

{% block arxiuNivell %}
		{% set divisio = info.nivell |split('.') %}
		{% set pre = "" %}
		{% set post = "" %}
		
		{% for di in divisio %}
			{% if loop.index == loop.length-1  %}
				{% set post = di %}
			{% else %}
				{% if pre == "" %}
					{% set pre = di %}
				{% else %}
					{% set pre = pre~'.'~di %} 
				{% endif %}  
			{% endif %}
    	{% endfor %}
    	
      	<input type="hidden" name="nivell" value="{{ pre }}">
      	<div class="input-group">
			<span class="input-group-addon">Nivell *  <strong>{{ pre }}</strong></span>
			<input type="text" class="form-control" pattern="^([a-zA-Z0-9]*\.)$" 
				title="Només pot tenir números i/o lletres i finalitzar amb un punt." 
				value="{{ post~'.' }}" name="suffix" required>
		</div><div class="space10"></div>
{% endblock %}				
				
    