{% extends 'PrincipalBundle:AdminGuia:baseModal.html.twig' %}

{% block arxiuTitle %}
          	{% if tam is sameas(2) %} Afegir nou fons
          	{% elseif tam is sameas(3) %} Afegir nou subfons
          	{% elseif tam is sameas(4) %} Afegir nou grup de series
          	{% elseif tam is sameas(5) %} Afegir nova serie
          	{% elseif tam is sameas(6) %} Afegir nova unitat documental composta
          	{% elseif tam is sameas(7) %} Afegir nova unitat documental simple
          	{% elseif tam is sameas(8) %} Afegir nova unitat d'instalació
          	{% endif %}
{% endblock %}


{% block arxiuInfo %}
	<p>Informació actual del nivell <strong>{{ info.nivell }}</strong> modificar per afegir un de nou.</p>
		    	
{% endblock %}

{% block arxiuFormPath %}
	{{ path("guia_nou_confirmar") }}
{% endblock %}

{% block arxiuNivell %}
      	{% set len =  info.nivell | length %}
      	<input type="hidden" name="nivell" value="{{ info.nivell | slice(0, len-2) }}">
      	<div class="input-group">
			<span class="input-group-addon">Nivell *  <strong>{{ info.nivell | slice(0, len-2) }}</strong></span>
			<input type="text" class="form-control" pattern="^([a-zA-Z0-9]*\.)$" 
				title="Només pot tenir números i/o lletres i finalitzar amb un punt." 
				value="{{ info.nivell | slice(len-2, len) }}" name="suffix" required>
		</div><div class="space10"></div>
{% endblock %}				
				
    